.FeatureItem{

flex: 1;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 30px;
gap: 20px;

    .feature-item-icon{

        width: 100px;
        border: 10px solid #00bc77;
        border-radius: 50%;
        padding: 20px;

    }

    .feature-item-title{


        color: #222;
        font-weight: bold;


    }

    .feature-item-text{



    }

}